In [2]:
import pandas as pd
import numpy as np
import string
import random

In [14]:
provinces = pd.read_excel('dataset\provinces.xlsx')['Province']
provinces = provinces.values
provinces

array(['Zhejiang', 'Tianjin', 'Sichuan', 'Shanxi', 'Shanghai', 'Shandong',
       'Shaanxi', 'Qinghai', 'Ningxia', 'Liaoning', 'Jilin', 'Jiangxi',
       'Jiangsu', 'Inner', 'Hunan', 'Hubei', 'Hong Kong', 'Henan',
       'Heilongjiang', 'Hebei', 'Guangdong', 'Gansu', 'Fujian',
       'Chongqing', 'Beijing', 'Anhui', 'Taiwan', 'Tibet', 'Yunnan',
       'Xinjiang', 'Hainan', 'Guizhou', 'Guangxi', 'Macau'], dtype=object)

In [15]:
consumer = pd.read_excel('secondary\consumer.xlsx')
consumer.head()

   consumer_id first_name last_name gender     country         city
0            0      Abbey      Gwen      F  Montenegro    Podgorica
1            1      Abbie       Ken      F       China  Gongzhuling
2            2     Abbott    Leslie      M       China      Renhuai
3            3        Abe     Jesse      M      Belize     Belmopan
4            4    Abigail   Jeffrey      F       China     Donggang

In [16]:
ch_consumer=consumer[consumer['country']=='China']
foreign_consumer = consumer[consumer['country']!='China']

In [17]:
province_sample = np.random.choice(provinces,size=len(ch_consumer),p=[0.05]*10+[0.5/(len(provinces)-10)]*(len(provinces)-10))
ch_consumer['province']=province_sample

C:\Users\Maggie\AppData\Local\Temp\ipykernel_2796\3883888856.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ch_consumer['province']=province_sample

In [18]:
foreign_consumer['province']=['International']*len(foreign_consumer)

C:\Users\Maggie\AppData\Local\Temp\ipykernel_2796\1140735490.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  foreign_consumer['province']=['International']*len(foreign_consumer)

In [19]:
consumers = pd.concat([ch_consumer,foreign_consumer])
consumers = consumers.sort_values(by='consumer_id').reset_index(drop=True)
# consumers

Generate phone number

In [20]:
with open('secondary\phones.txt', 'r+', encoding='utf-8') as f:
    s = [i[:-1].split(', ') for i in f.readlines()]
consumers['phone_number']=s[0]

Generate roles

In [21]:
roles = np.random.choice(['consumer','staff'],size=len(consumers),p=[0.92,0.08])
consumers['role']=roles

In [22]:
consumers['street_address']=consumers['province'].map(str)+' '+consumers['city']

In [23]:
'''CREATE TABLE user
(USER_ID   INT,
FIRST_NAME  VARCHAR(20),
LAST_NAME   VARCHAR(20),
PHONE_NUMBER VARCHAR(20),
REGION     VARCHAR(20),
COUNTRY_NAME VARCHAR(10),
PROVINCE   VARCHAR(25),
ROLE  VARCHAR(10),
STREET_ADDRESS VARCHAR(40),
PRIMARY KEY(USER_ID));
'''
order = ['consumer_id','first_name','last_name','phone_number','country','province','role','street_address']
consumers = consumers[order]
consumers=consumers.rename(columns={'consumer_id':'user_id','country':'country_name'})
consumers

,user_id,first_name,last_name,phone_number,country_name,province,role,street_address
0,0,Abbey,Gwen,814 998-6229,Montenegro,International,consumer,International Podgorica
1,1,Abbie,Ken,508 420-3608,China,Guangdong,consumer,Guangdong Gongzhuling
2,2,Abbott,Leslie,769 044-5994,China,Guangxi,staff,Guangxi Renhuai
3,3,Abe,Jesse,701 801-2284,Belize,International,consumer,International Belmopan
4,4,Abigail,Jeffrey,305 985-4508,China,Shanghai,consumer,Shanghai Donggang
...,...,...,...,...,...,...,...,...
1058,1058,Zelda,Alda,947 405-5498,China,Shanxi,consumer,Shanxi Ningde
1059,1059,Zelene,Olivy,361 534-7809,China,Tianjin,consumer,Tianjin Chibi
1060,1060,Zeph,Happy,865 412-0872,China,Shandong,staff,Shandong Qitaihe
1061,1061,Zera,Victors,321 423-7981,China,Tianjin,consumer,Tianjin Xinxiang
1062,1062,Zoe,Prudence,308 117-047,China,Sichuan,consumer,Sichuan Huizhou

In [22]:
consumers = pd.read_csv(r'dataset/user.csv')
package_state = pd.read_csv(r'dataset/state.csv')
package_plant = pd.read_csv(r'dataset/plant_with_package.csv')
plant = pd.read_csv(r'dataset/plant.csv')

In [25]:
working_plant_boss_id = pd.merge(package_plant,plant,how='left')
working_plant_boss_id.to_excel('dataset/wpbi.xlsx',index=False)

In [27]:
working_plant_boss_id_state = pd.merge(working_plant_boss_id,package_state, how='left')
working_plant_boss_id_state

,package_id,plant_id,plant_name,phone_number,boss_id,country_name,province,street_address,start_time,end_time,state_name
0,1,16,Xi'an-2,806 874-6851,331,China,Shaanxi,017 Norval Knoll,2022-11-13 06:11:37,2022-11-29 23:11:37,Finished
1,1,6,Jinan,715 456-3811,167,China,Shandong,22303 Hermiston Club,2022-11-13 06:11:37,2022-11-29 23:11:37,Finished
2,2,10,Guangzhou,831 583-4188,289,China,Guangdong,191 Leland Dam,2022-06-27 16:26:39,2022-07-03 12:26:39,Cancelled
3,2,5,Fuzhou,540 901-0964,565,China,Fujian,1376 Raegan Meadows,2022-06-27 16:26:39,2022-07-03 12:26:39,Cancelled
4,3,10,Guangzhou,831 583-4188,289,China,Guangdong,191 Leland Dam,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1505,498,2,Beijing-1,365 038-4766,89,China,Beijing,7573 Hintz Stravenue,2022-01-17 23:38:36,2022-01-25 12:38:36,Waiting
1506,498,10,Guangzhou,831 583-4188,289,China,Guangdong,191 Leland Dam,2022-01-17 23:38:36,2022-01-25 12:38:36,Waiting
1507,499,10,Guangzhou,831 583-4188,289,China,Guangdong,191 Leland Dam,NaN,NaN,NaN
1508,499,1,Xi'an-1,671 796-9140,100,China,Shaanxi,307 Auer Skyway,NaN,NaN,NaN
1509,499,8,Shenyang,463 929-7519,768,China,Liaoning,9410 Weber Extension,NaN,NaN,NaN

In [29]:
done_package = []
for i in range(len(working_plant_boss_id_state)):
    if working_plant_boss_id_state.iloc[i]["state_name"] == "Finished":
        done_package.append(working_plant_boss_id_state.iloc[i])
done_package_df = pd.DataFrame(done_package)
done_package_df

,package_id,plant_id,plant_name,phone_number,boss_id,country_name,province,street_address,start_time,end_time,state_name
0,1,16,Xi'an-2,806 874-6851,331,China,Shaanxi,017 Norval Knoll,2022-11-13 06:11:37,2022-11-29 23:11:37,Finished
1,1,6,Jinan,715 456-3811,167,China,Shandong,22303 Hermiston Club,2022-11-13 06:11:37,2022-11-29 23:11:37,Finished
9,4,15,Kunming,815 808-1938,574,China,Yunnan,98522 Wilburn Tunnel,2022-03-12 08:40:56,2022-03-28 21:40:56,Finished
10,4,16,Xi'an-2,806 874-6851,331,China,Shaanxi,017 Norval Knoll,2022-03-12 08:40:56,2022-03-28 21:40:56,Finished
11,4,17,Zhengzhou,214 461-5882,857,China,Henan,6683 Marc Terrace,2022-03-12 08:40:56,2022-03-28 21:40:56,Finished
...,...,...,...,...,...,...,...,...,...,...,...
1465,486,3,Harbin,314 822-4307,233,China,Heilongjiang,9880 Elroy Orchard,2022-08-02 09:04:36,2022-08-12 22:04:36,Finished
1466,486,15,Kunming,815 808-1938,574,China,Yunnan,98522 Wilburn Tunnel,2022-08-02 09:04:36,2022-08-12 22:04:36,Finished
1467,486,10,Guangzhou,831 583-4188,289,China,Guangdong,191 Leland Dam,2022-08-02 09:04:36,2022-08-12 22:04:36,Finished
1468,486,19,Shenzhen-2,812 868-0803,536,China,Guangdong,3901 Nathan Summit,2022-08-02 09:04:36,2022-08-12 22:04:36,Finished
1484,491,20,Chengdu-2,778 107-6224,794,China,Sichuan,953 Mayert Rapid,2022-09-24 15:10:38,2022-10-10 08:10:38,Finished

In [32]:
bosses = done_package_df['boss_id']
len(bosses)

275

In [33]:
boss_uni = bosses.unique()
len(boss_uni)

20

In [66]:
boss_uni

array([ 331,  167,  574,  857,  950,  665,  536,  327,  233,  100,   77,
        768,  565,  487,  443, 1025,   89,  794,  596,  289], dtype=int64)

In [69]:
done_num = [0]*len(boss_uni)
for i in range(len(done_package_df)):
    cover = False
    b_id = done_package_df.iloc[i]['boss_id']
    for j in range(len(boss_uni)):
        if boss_uni[j] == b_id:
            done_num[j] += 1
            break
done_num

[16, 24, 17, 13, 11, 8, 12, 18, 11, 16, 14, 12, 11, 12, 17, 13, 12, 12, 17, 9]

更新package_done

In [16]:
staff = []
for i in range(len(consumers)):
    if consumers.iloc[i]["role"] == "staff":
        staff.append(consumers.iloc[i])
df = pd.DataFrame(staff)

,user_id,first_name,last_name,phone_number,country_name,province,role,street_address,password
1,2,Abbott,Leslie,769 044-5994,China,Guangxi,staff,Guangxi Renhuai,eBmQCZ3vw
19,20,Alban,Luciana,236 719-4630,China,Ningxia,staff,Ningxia Tongren,8TVQtMAO3
29,30,Alf,Hilda,541 462-0759,China,Tianjin,staff,Tianjin Mengzhou,9tolbaDAu6
57,58,April,Elaine,706 948-2157,China,Tibet,staff,Tibet Zhangjiakou,3TZttjHe
76,77,Barclay,Rory,782 575-9889,Hungary,International,staff,International Budapest,3E0zvWgmFQ3x
...,...,...,...,...,...,...,...,...,...
1038,1039,Willard,Thalia,803 186-6452,China,Liaoning,staff,Liaoning Longyan,LKFPgP
1039,1040,William,Percy,551 511-8641,China,Gansu,staff,Gansu Yushu,Z545AfqAH
1050,1051,Xenia,Donna,445 742-0011,China,Hong Kong,staff,Hong Kong Shanwei,8rL5WiJQ3JnU
1054,1055,Zach,Powerful,779 514-8610,China,Shanxi,staff,Shanxi Dingzhou,bVpTW99Y7
1059,1060,Zeph,Happy,865 412-0872,China,Shandong,staff,Shandong Qitaihe,ml30WN

In [ ]:
df.insert(loc=len(df.columns),column='package_done',value=0)

In [99]:
df

,user_id,first_name,last_name,phone_number,country_name,province,role,street_address,password,package_done
1,2,Abbott,Leslie,769 044-5994,China,Guangxi,staff,Guangxi Renhuai,eBmQCZ3vw,0
19,20,Alban,Luciana,236 719-4630,China,Ningxia,staff,Ningxia Tongren,8TVQtMAO3,0
29,30,Alf,Hilda,541 462-0759,China,Tianjin,staff,Tianjin Mengzhou,9tolbaDAu6,0
57,58,April,Elaine,706 948-2157,China,Tibet,staff,Tibet Zhangjiakou,3TZttjHe,0
76,77,Barclay,Rory,782 575-9889,Hungary,International,staff,International Budapest,3E0zvWgmFQ3x,0
...,...,...,...,...,...,...,...,...,...,...
1038,1039,Willard,Thalia,803 186-6452,China,Liaoning,staff,Liaoning Longyan,LKFPgP,0
1039,1040,William,Percy,551 511-8641,China,Gansu,staff,Gansu Yushu,Z545AfqAH,0
1050,1051,Xenia,Donna,445 742-0011,China,Hong Kong,staff,Hong Kong Shanwei,8rL5WiJQ3JnU,0
1054,1055,Zach,Powerful,779 514-8610,China,Shanxi,staff,Shanxi Dingzhou,bVpTW99Y7,0
1059,1060,Zeph,Happy,865 412-0872,China,Shandong,staff,Shandong Qitaihe,ml30WN,0

In [83]:
len(df)

87

In [98]:
done = 0
for i in range(len(df)):
    if df.iloc[i]['user_id'] == boss_uni[done]:
        print("Hit")
        df.loc[i]['package_done'] = done_num[done]
if done < len(boss_uni)-1:
    done += 1

In [24]:
# # consumers = ch_consumer+foreign_consumer
consumers.to_excel('dataset/user.xlsx',index=False)